type hal_fingerprint_ivan, domain;
typeattribute hal_fingerprint_ivan data_between_core_and_vendor_violators;
typeattribute hal_fingerprint_ivan vendor_executes_system_violators;
hal_client_domain(hal_fingerprint_ivan, hal_fingerprint)
hal_server_domain(hal_fingerprint_ivan, hal_fingerprint)

type hal_fingerprint_ivan_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_ivan)

# Allow hal_fingerprint_ivan to hal_fingerprint_hwservice
allow hal_fingerprint_ivan hal_fingerprint_hwservice:hwservice_manager find;

# Allow to use wakelock
wakelock_use(hal_fingerprint_ivan)

